.Rproj.user/D440BA79/sources/prop/80432FF4
.Rproj.user/D440BA79/sources/prop/INDEX
.Rproj.user/D440BA79/sources/session-55805FA4/4478408A-contents
.Rproj.user/D440BA79/sources/session-55805FA4/A8F2CD4E
.Rproj.user/D440BA79/sources/session-55805FA4/A8F2CD4E-contents
.Rproj.user/D440BA79/sources/session-55805FA4/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
__pycache__/app.cpython-310.pyc
.Rproj.user
